@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Share/LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <title></title>
</head>
<body>
    <div>
      
        <h2>ABOUT US</h2>  
     
    </div>
    <div class="active">
        <p><strong>redPEPPER events  is, in part, the answer to demands of a busy social world,<br />
         for the working family, heavily-burdened office, out-of-town business, or <br />
        special occasion in need of special recognition. As a business, we understand<br />
         the needs of public and private organizations. As parents and family members,<br />
         we understand the needs of setting special time apart from other events in our lives.<br />
         redPEPPER events strives to accomplish these goals with special attention to detail<br />
         and service in Johannesburg, Cape Town and eventually other areas of the South Africa.</p>
        <p></strong>
            <tr>
                <strong>
                <br />
                 We are a full service event company
                <br />
                redPEPPER events - for all your events needs.
                <br />
                Your one-stop solution to Event Management,
                <br />
                Marketing Management and Corporate Marketing.
                <br />
                From the smallest to the largest event - we do it all!
                <br />
                We have the expertise, talent,
                <br />
                commitment and experience to co-ordinate any event.
                <br /></strong>
            </tr>
        </p>
    </div>
    <table width="50%" height="100%" border="0">

        <tr>

            <td class="thumbnails">
                <img onmouseover="preview.src=img2.src" name="img2" src="~/Images/about1.jpg" alt="" style="height:190px; width:260px;" />
            </td>

            <td class="thumbnails">

                <img onmouseover="preview.src=img1.src" name="img1" src="~/Images/about2.jpg" alt="" style="height:190px; width:200px;" />


            </td>
            <td class="thumbnails">

                <img onmouseover="preview.src=img1.src" name="img1" src="~/Images/about3.jpg" alt="" style="height:190px; width:200px;" />


           

        </tr>

    </table>

    <div class="last">
        <b><h2>Knowledge & Experience </h2></b>

        <p>
            <strong>
                We have extensive experience in the retail, transport,<br>
                finance and technology event fields.<br />
                We are experienced in set-up and managent of large scale ,<br>
                complex events and marketing projects.<br />
                We have experience across SA in all regions<br />

        </p></strong>
        <b><h2>Flexibility </h2></b>

        <p>
            <strong>
                All our events,functions and solutions are bespoke and<br />
                designed with the client objectives at the forefront.

        </p></strong>
        <b><h2>Resources </h2></b>

        <p>
            <strong>
                We offer a One-Stop-Shop solution for you, the client<br />
                -No running around on your side.<br />
                We are able to call on significant skills in and out of office<br />
                to make your event a complete success!

        </p></strong>
        <strong>
            <b><h2>Our Team</h2></b>
            <p>
                Our staff is highly experienced, consistent, passionate and capable<br />
                of the extraordinary.<br />
                We have a large group of experts to draw upon from across all sectors<br />
                and suppliers for every need.<br />
                We guarantee quality events on time!
            </p>
            <div class="thumbnails" align="left">
        </strong>


        <p>
            <img onmouseover="preview.src = img1.src" name="img1" src="~/Images/10469041_1140975045913839_5089574063536573979_n.jpg" hspace="100">

            <h3 style="color:black">Zaheerah Kamaar</h3>
        </p><strong>
            <ul>Job Description:Events Co-ordinator</ul>
            <ul>
                Responsiblities:
                <li>Communicate with clients, listening to their needs and presenting ideas and solutions to their requirements</li>
                <li>Works with suppliers, contractors, employees, wait staff and many other parties at the same time</li>
                <li>Negotiate prices with clients and contractors</li>
                <li>Inevitably, something will go wrong at an event. Being able to quickly solve the issue is required.</li>
                <li>Staying focused and organized so that the event goes off without a hitch</li>
                <li>Communicate, plan, budget and organize their events.</li>
                <li>Event coordinators need to remain calm during crisis and the high pressure of an event in progress.</li>
            </ul>
        </strong>


        <p>
            <img onmouseover="preview.src = img2.src" name="img2" src="~/Images/WIN_20160805_09_09_55_Pro (2).jpg" hspace="100">

            <h3 style="color:black">Nqabakazi Hlamvana</h3>

        </p><strong>

            <ul>Job Description:Catering Manager/Catering Supervisor</ul>
            <ul>
                Responsiblities:
                <li>
                    To manage staff preparing and serving food and drink, in accordance <br />
                    with the health and hygiene regulations<br />
                <li>To meet the daily needs of the customers and staff.</li>
                <li>
                    Involves involve till operation, food service, customer service, <br />
                    cleaning tables, dishwasher operation, coffee machine operation and<br />
                    general cleaning duties as required, in accordance with the <br />
                    Safer Food Better Business book.
                </li>
                <li>
                    To maintain the kitchens, bins, dining areas, floor areas, tables<br />
                    and all other catering related areas, to the highest standard of cleanliness.
                </li>
                <li>
                    To communicate efficiently and effectivley in a friendly and positive<br />
                    manner with visitors and other members of staff and managment to create<br />
                    a pleasant atmosphere at all times.
                </li>
                <li>
                    To undertake staff and train them from time to time, to adhere to strict<br />
                    rules andregulations of the business set by management.
                </li>

                </li>
            </ul>
            <p>
                <img onmouseover="preview.src = img2.src" name="img2" src="~/Images/WIN_20161003_07_04_08_Pro.jpg" hspace="100">
                <h3 style="color:black">Sindisiwe Ludmiller</h3>
            </p>

            <ul>Job Description:Events Manager</ul>
            <ul>
                Responsiblities:
                <li>Manage staff responsible for event coordination activities.</li>
                <li>Hire, train, and educate staff on proper event procedures.</li>
                <li> Calculate budgets and adjust when necessary.</li>
                <li> Book venues and negotiate fees.</li>
                <li> Work with guest of honor to ensure all requests are met.</li>
                <li> Define company brand through events.</li>
                <li>Give final approval for items such as music and menus</li>
            </ul>
        </strong>




        <b><h2>Our Vision</h2></b>

        <p>
            <strong>

                We help inspire, visualize and create memorable events.<br />
                We strive to further grow this establishment and turn it into an empire!<br />
                Through the quality of our efforts, our success relies on our satisfied clients.

        </p></strong>

        <b><h2>Our Mission </h2></b>

        <p>
            <strong>

                We ceate amazing events that are stress-free and memorable for<br />
                all our clients and their stakeholders.<br />
                We thrive on creating experiences and seeing the outcome on guests<br />
                expressions as they walk into a room<br />
                that has been setup by our staff!

        </p></strong>

    </div>
        <section id="content1">

        </section>
</body>
</html>
