@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Share/LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <title></title>
</head>
<body>
    <div class="pr">
        <pre>
        <h2 style="font-family:'Bell MT';">Here are a few pictures from our previous events
                 to give you a sneak peak of our capabilities...</h2>
</pre>
    </div>
    <div class="w3-content" style="max-width:700px;padding-left:25%">
        <img class="mySlides" src="~/Images/catering2.jpg" style="width:70%">
        <img class="mySlides" src="~/Images/church-wedding-decorations-2.jpg" style="width:70%">
        <img class="mySlides" src="~/Images/Clear-Wedding-Reception-Tent-Modern-Table-Linens.jpg" style="width:70%">
        <img class="mySlides" src="~/Images/black-and-white-dining-area.jpg" style="width:70%">
        <img class="mySlides" src="~/Images/wedding stage decoration.jpg" style="width:70%">
        <img class="mySlides" src="~/Images/little kids.jpg" style="width:70%">
        <img class="mySlides" src="~/Images/marry.jpg" style="width:70%">

        <a class="w3-btn-floating" style="position:absolute;top:50%;left:25%" onclick="plusDivs(-1)">❮</a>
        <a class="w3-btn-floating" style="position:absolute;top:50%;right:41%" onclick="plusDivs(1)">❯</a>

    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>
    <section id="content1"></section>
</body>
</html>
